p{
    text-align: justify;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-indent: 500px;
    text-shadow: 3px 5px orangered;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 90px;
    text-align: justify;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-indent: 500px;
    text-shadow: 3px 5px orangered;
    color: black;
    font-family: ;
}